# python==3.7.12
# pip==21.3.1


beautifulsoup4==4.10.0
numpy==1.21.4
pillow==8.4.0
scikit-learn==0.21.3
# scikit-learn安装不上可以添加下面这条
# Cython
requests==2.26.0
lxml==4.6.4
scipy==1.7.2
six==1.16.0
transmission-rpc==3.3.0
